body{
    display:flex;
    flex-direction: column;
    height:100vh;
    width:100vw;
    padding: 0%;
    margin: 0px;
    justify-content: space-between;
    align-items: center;
    background-color: #0D1526;
}

.header-text {
    background:-webkit-linear-gradient(left, #F15025, #e76082);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #e76082;
    font-size: 6vh;
    margin-bottom: 1vh;
}

.main-container{
    display:flex;
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;
    width:50vw;
    height:80vh;
    background-color: #6B818C;
    border-radius: 2vw;
}

.tool-container{
    background-color: #ffffff;
    height: 90%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    align-items: center;
    border-radius: 2vw;
}

.tool-container h2 {
    font-size: 3.5vh;
    color: #6B818C;
    margin-bottom: 3%;
}

.toolbox {
    height: 85%;
    width: 85%;
    flex: 0 0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #6B818C;
    border-radius: 1.2vw;
    margin-bottom: 5%;
}

.tool-label {
    margin: 8px auto;
    color:white;
    font-size: 2.2vh;
}

.tool-label.gs {
    margin: 8px auto;
    color:white;
    font-size: 2.4vh;
}

.slider-container{
    text-align: center;
    display: block;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background:transparent;
    cursor: pointer;
    border-radius: 3vw;
    margin-bottom: 2vh;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
    background: rgba(255, 255, 255, 0.664);
    height: .5vh;
    width: 5vw;
}
  
/******** Firefox ********/
input[type="range"]::-moz-range-track {
    background: rgba(255, 255, 255, 0.664);
    height: .5vh;
    width: 5vw;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -1.4vh; /* Centers thumb on the track */
    background-color: #F15025;
    height: 3.2vh;
    width: 1rem;    
    border-radius: 20px;
 }

 input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 20px; /*Removes default border-radius that FF applies*/
    background-color: #F15025;
    height: 3.2vh;
    width: 1rem;
}

.color-box{
    height: 4vh;
    width: 4vw;
    padding: .2vh .2vw;
}

.misc-btn-container{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1vh;
}

.misc-btn{
    font-weight: bold;
    height: 5vh;
    width: 7vw;
    padding: 1.34vh .5vw;
    border-style: ridge;
    border-radius: 0.41vw;
    text-align: center;
    font-size: 1.5vh;
}

#rainbtn.misc-btn.active{
    background: linear-gradient( purple, red, blue);
    border-color: white;
    color: rgba(255, 255, 255, 0.664);
}

#eraser.misc-btn.active{
    background: linear-gradient(rgb(250, 148, 165), lightpink);
    color:aliceblue;
}

#shader.misc-btn.active{
    background: linear-gradient(lightgrey, gray, black) ;
}

#dodge.misc-btn.active{
    background: linear-gradient(rgb(255, 255, 255), gray, rgb(128, 126, 126));
}

.square-container{
    background-color: rgb(255, 255, 255);
    height:600px;
    width:600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    border-style: solid;
    border-color: #CED0CE;
    margin-right: 5%;
}

.paint-square{
    border-color: rgba(0, 0, 0, 0.397);
    background-color: rgb(255, 255, 255);
    height: calc(600px / 16);
    width: calc(600px / 16);
    border-style: solid;
    border-width: .5px;
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.paint-square.fill{
    background-color: black;
    border-style: none;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CED0CE;
    width: 100vw;
    height: 5vh;
    border-top-right-radius: 2vw;
    border-top-left-radius: 2vw;
}

.foot-text{
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.281);
    font-size: 2.5vh;
    color: #0D1526;
}

.github-link{
    height: 2.5vh;
    width: auto;
    margin: .2vh .5vw;
}
