body{
    display:flex;
    flex-direction: column;
    height:100vh;
    width:100vw;
    padding: 0%;
    margin: 0px;
    justify-content: space-between;
    align-items: center;
    background-color: #0D1526;
}

.header-text {
    background:-webkit-linear-gradient(left, #F15025, #e76082);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #e76082;
    font-size: 48px;
    margin-bottom: 12px;
}

.main-container{
    display:flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    width:60vw;
    height:80vh;
    background-color: #6B818C;
    gap: 48px;
    border-radius: 48px;
}

.tool-container{
    background-color: #ffffff;
    height: 600px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
}

.tool-container h2 {
    font-size: 32px;
    color: #6B818C;
    margin-bottom: 12px;
}

.toolbox {
    height: 85%;
    width: 85%;
    flex: 0 0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #6B818C;
    border-radius: 24px;
    margin-bottom: 16px;
}

.tool-label {
    margin: 8px auto;
    color:white;
    font-size: 24px;
}

.tool-label.gs {
    margin: 8px auto;
    color:white;
    font-size: 16px;
}

.slider-container{
    text-align: center;
    display: block;
}

.misc-btn-container{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
    padding-top: 24px;
}

.misc-btn{
    font-weight: bold;
    padding: 12px 20px;
    border-style: ridge;
    border-radius: 8px;
}

#rainbtn.misc-btn.active{
    background: linear-gradient( purple, red, blue);
    border-color: white;
    color: rgba(255, 255, 255, 0.664);
}

#eraser.misc-btn.active{
    background: linear-gradient(rgb(250, 148, 165), lightpink);
    color:aliceblue;
}

#shader.misc-btn.active{
    background: linear-gradient(lightgrey, gray, black) ;
}

#dodge.misc-btn.active{
    background: linear-gradient(rgb(255, 255, 255), gray, rgb(128, 126, 126));
}

.square-container{
    background-color: rgb(255, 255, 255);
    height:600px;
    width:600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    border-style: solid;
    border-color: #CED0CE;
}

.paint-square{
    border-color: rgba(0, 0, 0, 0.397);
    background-color: rgb(255, 255, 255);
    height: calc(600px / 16);
    width: calc(600px / 16);
    border-style: solid;
    border-width: .5px;
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.paint-square.fill{
    background-color: black;
    border-style: none;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CED0CE;
    width: 100vw;
    height: 50px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.foot-text{
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.281);
    font-size: 24px;
    color: #0D1526;
}

.github-link{
    height: 20px;
    width: 20px;
    margin: 6px 8px;
}
